@mixin button($font-size: 16px, $extra-padding: 0px, $color: map-get($palette, off-white)) {

    line-height: 80%;
	position: static;
    display: inline-block;
    margin: 6px 6px 0px 0px;
    padding: 2px+$extra-padding 5px+$extra-padding 0px+$extra-padding 5px+$extra-padding;
    
    border-radius: 7px;
    
    cursor: pointer;

    border: 2px solid $color;
    p {
        color: $color; 
        display: inline-block;
        width: auto;
        @include font-size($font-size);
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        position: static;
        width: 100%;
        margin: 0 0 0 0;
        pointer-events: none;
        font-family: 'SimplonNorm-Regular-WebS' !important;
    }

    opacity: 0.4;
    &:hover, &--active { opacity: 0.9; }

}

.button { @include button; }
.button--large { @include button(26px, 8px); }