@mixin button() {

    $main-color: map-get($palette, off-white);
    $secondary-color: map-get(map-get($palette, grey), base);
    $font-size: 16px;
    $is-solid: false;

    line-height: 80%;
	position: static;
    display: inline-block;
    padding: 2px 5px 0px 5px;
    
    border-radius: 7px;
    cursor: pointer;
    border: 2px solid;

    text-align: center;

    p {
        display: inline-block;
        text-align: center;
        width: auto;
        @include font-size($font-size);
        white-space: nowrap;
        overflow: hidden;
        position: static;
        margin: 0 0 0 0;
        pointer-events: none;
        font-family: 'SimplonNorm-Regular-WebS' !important;
    }

    border-color: $main-color;
    p { color: $main-color; }

    opacity: 0.5;
    &:hover, &--active { opacity: 0.9; }

}

.button { @include button; }