.loading-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    z-index: 1000;

    display: table;
    text-align: center;
    & > div {
        position: relative;
        top: 50px;
        width: auto;
        height: 60px;
        padding: 20px;
        background-color: map-get(map-get($palette, grey), base);
        color: map-get($palette, off-white);
        font-family: 'SimplonNorm-Bold-WebS';
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        border-radius: 8px;
        opacity: 0.8;
        @include animation(flicker 2s infinite);
    }
}