.atl__help {

	$tip-size: 25px;
	$width: 210px;

	padding: 20px;
	border-radius: 6px;
	position: absolute;
	right: -150px;
	top: 0px;
	@include font-size(17px);
	line-height: 100%;
	width: $width;
	overflow-x: visible;
	overflow-y: visible;
	background-color: map-get($palette, off-white);
	opacity: 1;
	color: #333333;
	

	@mixin pointy() {
		content: ' ';
		height: 0; 
		position: absolute; 
		width: 0; 
		border: #{$tip-size / 2} solid transparent; 
		top: 27%;
		overflow: visible; 
		line-height: 100%;
	}

	&--right {
		right: - ($width + $tip-size / 2);
		&:before {
			@include pointy();
			margin-left: - $tip-size;
			left: +2px;  
			border-right-color: map-get($palette, off-white);
			z-index: 10; 
		}
	}

	&--left {
		left: - ($width + $tip-size / 2);
		&:after {
			@include pointy();
			margin-left: 0;
			right: - $tip-size + 2px; 
			border-left-color: map-get($palette, off-white);
			z-index: 10; 
		}
	}

	display: none;
	.atl--help & {
		display: block;
	}

}