.atl__info-box {

	overflow-y: scroll;
	font-family: 'SimplonNorm-Regular-WebS';

	&__menu {

		z-index: 100;
		position: absolute;
		cursor: pointer;
		width: 80px;
		height: 25px;

		top: 40px;
		right: 115px;

		opacity: 0.7;
		&:hover { opacity: 1; }

		&__item {
			content: '';
			width: 25px;
			height: 25px;
			margin: 0 5px;
			display: inline-block;
		}

	}
}