.atl__settings-bar {
	width: 100%;
	height: 225px;
	position: absolute;
	overflow: visible;
	padding: 20px 0;

	.atl__headline, .atl__search, .atl__filter {
		padding-left: 20px;
		padding-right: 20px;
	}

	top: 0;

	overflow-x: visible !important;
	
	@include bp-show-sidebars {
		//padding: 20px;
		//padding-left: $side-bar-width + 20px;
	}
	@include bp-unstack-map-settings-bar {
		width: $atl-settings-bar-width;
		left: $side-bar-width;
		top: 0;
		height: 100%; 
	}
	background-color: rgba(27,27,27,0.83); 
	opacity: 1;
	transition: 0.2s;
	.atl--collapsed & {
		overflow: visible;
		background: none;
		height: 300px;
		padding: 30px 10px;
	}
}