@for $i from 1 through 15 {

	.bg-c-#{$i} {
		$color: nth(map-get($palette, scheme), $i);
		background-color: $color;
		fill: $color;
	}

	.c-#{$i} {
		$color: nth(map-get($palette, scheme), $i);
		color: $color;
		stroke: $color;
	}

}

.bg-c-off-white {
	$color: map-get($palette, off-white);
	background-color: $color;
}

.bg-c-grey--base {
	background-color: map-get(map-get($palette, grey), base);
}

.bg-c-grey--light {
	background-color: map-get(map-get($palette, grey), light);
}

.bg-c-naf-green {
	background-color: map-get($palette, naf-green);
}

.c-off-white {
	$color: map-get($palette, off-white);
	color: $color;
}