@for $i from 1 through 15 {

	.bg-c-#{$i} {
		$color: nth(map-get($palette, scheme), $i);
		background-color: $color;
		fill: $color;
	}

	.c-#{$i} {
		$color: nth(map-get($palette, scheme), $i);
		color: $color;
		stroke: $color;
	}

}

.bg-c-off-white {
	$color: map-get($palette, off-white);
	background-color: $color;
}

.bg-c-grey--base {
	background-color: map-get(map-get($palette, grey), base);
}

.bg-c-naf-green {
	background-color: map-get($palette, naf-green);
}

.c-off-white {
	$color: map-get($palette, off-white);
	color: $color;
}

.bg-stripe {
	background-image: url("data:image/svg+xml;base64,PHBhdHRlcm4gaWQ9ImRpYWdvbmFsLXN0cmlwZXMiIHg9IjAiIHk9IjAiIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPgogICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjIiIGhlaWdodD0iOCIgc3R5bGU9InN0cm9rZTpub25lOyBmaWxsOnJlZDsiIC8+CiAgICA8cmVjdCB4PSIyIiB5PSIwIiB3aWR0aD0iMiIgaGVpZ2h0PSI4IiBzdHlsZT0ic3Ryb2tlOm5vbmU7IGZpbGw6cmVkOyIgLz4KICAgIDxyZWN0IHg9IjQiIHk9IjAiIHdpZHRoPSIyIiBoZWlnaHQ9IjgiIHN0eWxlPSJzdHJva2U6bm9uZTsgZmlsbDp3aGl0ZTsiIC8+CiAgICA8cmVjdCB4PSI2IiB5PSIwIiB3aWR0aD0iMiIgaGVpZ2h0PSI4IiBzdHlsZT0ic3Ryb2tlOm5vbmU7IGZpbGw6d2hpdGU7IiAvPgo8L3BhdHRlcm4+");
	background-repeat: repeat;
}