@for $i from 1 through 15 {

	.bg-c-#{$i} {
		$color: nth(map-get($palette, scheme), $i);
		background-color: $color;
		fill: $color;
	}

	.c-#{$i} {
		$color: nth(map-get($palette, scheme), $i);
		color: $color;
		stroke: $color;
	}

}

.bg-c-off-white {
	$color: palette-get(off-white);
	background-color: $color;
}

.bg-c-grey--base {
	background-color: palette-get(grey);
}

.bg-c-grey--light {
	background-color: palette-get(grey, light);
}

.bg-c-naf-green {
	background-color: palette-get(turquoise);
}

.c-off-white {
	$color: palette-get(off-white);
	color: $color;
}