html { 
	font-size: 100%;
	// Set default text color.
	color: palette-get(grey, text);
}

h1, h2, h3, h4, h5, p, a, li {
	display: block;
	font-family: 'Simplon';
	font-weight: normal;
	line-height: 125%;
}

h1 { @include font-size(53px); }
h2 { @include font-size(24px); padding: 22px 0px; }
h3 { @include font-size(20px); }
p, a, li  { @include font-size(18px); }