$palette: (

	turquoise: (
		base: #2dbbb3,
		dark: darken(#2dbbb3, 10)
	),

	grey: (
		base: #323232, // used on titles
		text: transparentize(#323232, 0.1),
		light: #4a4a4a, //
		extra-light: #666666,
		dark: #1e1e1e
	),

	off-white: (
		base: #fffaef
	),

	scheme: ( 
		rgb(133, 2, 106), 
		rgb(138, 1, 135), 
		rgb(140, 2, 165), 
		rgb(129, 10, 166),
		rgb(118, 18, 167), 
		rgb(106, 23, 167), 
		rgb(93, 43, 171),
		rgb(79, 56, 173),
		rgb(77, 72, 177), 
		rgb(73, 87, 182), 
		rgb(67, 102, 186), 
		rgb(58, 116, 191), 
		rgb(44, 130, 195), 
		rgb(11, 144, 199),
		rgb(50, 161, 217)
	)

);


@function palette-get($key, $type: 'base') {
	@return map-get(map-get($palette, $key), $type);
}