.atl__info-box {

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	@include transform(translate(0, 100%));
	z-index: 9;
	overflow: hidden;

	.atl__info-box--narrow & {
		@include bp-narrow-info-box {
			width: $atl-settings-bar-width;
		}
	}
	
	@include transition(all, 0.5s, ease-in-out);
	.atl__info-box--active & {
		@include transform(translate(0, 0%));
		height: 100%;
	   	@include transition(all, 0.5s, ease-in-out);
	}

	&__close {
		z-index: 10;
		position: absolute;
		//top: $top-bar-height + 25px;
		top: 25px;
		right: 25px;
		width: 25px;
		height: 25px;
		opacity: 0.6;
		&:hover { opacity: 1; }
	}

	overflow-y: scroll;
	font-family: 'SimplonNorm-Regular-WebS';

	&__menu {

		z-index: 100;
		position: absolute;
		cursor: pointer;
		width: 80px;
		height: 25px;

		top: 15px;
		right: 15px;

		&__item {
			content: '';
			width: 25px;
			height: 25px;
			margin: 0 5px;
			display: inline-block;

			opacity: 0.7;
			&:hover { opacity: 1; }
		}

	}

	// The atl__info-box--narrow modifier is applied on the .atl element instead of .atl__info-box
	&--narrow .atl-grid__2-3 {
		width: 100%;
	}

}