.atl__options-tab {

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	overflow-y: scroll;

	background-color: rgba(27,27,27,0.83);

	z-index: 100;

	padding: 40px;

	&__close {
		position: absolute;
		top: 40px;
		right: 40px;
		width: 25px;
		height: 25px;
		svg {
			fill: map-get($palette, off-white);
		}
	}

	&__content {
		margin: auto;
		width: 90%;
		max-width: 700px;
	}

	.button { margin: 3px; }

	.title {
		text-align: left;
		margin: 50px 0 20px 0;
	}

	@mixin collapsed() {
		left: 0;
		top: $top-bar-height;
	}

	@mixin expanded() {
		top: 0;
		left: $atl-settings-bar-width;
	}

	@include collapsed;

	@include bp-unstack-map-settings-bar {
		@include expanded;
		.atl--collapsed & {
			@include collapsed;
		}
	}

}