.atl__side-bar {

	position: fixed;
	top: 0;
	right: 0;
	height: $top-bar-height;
	width: $top-bar-height;

	@extend %bg-img-dropdown-down--off-white;
	background-size: 35% 35%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	cursor: pointer;

	overflow: hidden;
	&:hover, &--active { 
		overflow: visible;
		@extend %bg-img-dropdown-up--off-white;
	}

	padding-top: $top-bar-height;

	@include bp-expand-menu {
		background: none;
		width: auto;
		padding-top: 0;
	}

	z-index: 11000; 

	opacity: 1;

	&__icon {
		float: left;
		@include atl-icon();
		background-color: map-get(map-get($palette, grey), base);
		cursor: pointer;
		opacity: 1;

		&:hover {
			filter: invert(100%);
			-webkit-filter: invert(100%);
			background-color: #000510;
		}
	}

}