#atl__map { 
	overflow: hidden;
	@media print { display: none; }
	.atl--help &:after {
		content: ""; 
		display: block; 
		position: fixed; 
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include transition(all, 0.75s);
		background-color: rgba(0,0,0,0.5);
	}
}

.atl__map-control {

	bottom: 30px;
	right:  25px;

	@include bp-unstack-map-settings-bar {		
		top: $top-bar-height + 30px;
	}

	position: absolute;
	
	z-index: 8;

	&__button {
		width: $icon-size;
		height: $icon-size;
		margin-bottom: $icon-size / 2;
		cursor: pointer;
		opacity: 0.7;
		&:hover { opacity: 1; }
	}

}

.leaflet-container .leaflet-control-attribution {
	@include attribution-box;
	position: fixed;
	right: 80px;
	bottom: 95px;
	@include bp-unstack-map-settings-bar {
		top: $top-bar-height + 85px;
		bottom: auto;
	}
}

@mixin overlay-highlighted--region() {
	stroke: map-get($palette, off-white);
	stroke-width: 3.5px;
}

@mixin overlay-highlighted--pin() {
	stroke-width: 2.5px;
	stroke: map-get(map-get($palette, grey), base);
}

@mixin overlay-inactive() {
	display: none;
}

.deethree { overflow: visible; }

.map-region {
	fill-opacity: 0.85;
	stroke-width: 1px;
	stroke: map-get($palette, off-white);
	&:hover, &--highlighted { @include overlay-highlighted--region(); }
	&--inactive { @include overlay-inactive(); }
	&--neutral {
		fill: map-get(map-get($palette, grey), light);
	}

	&--striped {
		fill: url('#diagonal-stripes');
	}
}

@mixin overlay-hover--pin() {
	& .map-pin__outer, & .map-pin__inner {
		stroke: map-get($palette, off-white);
		stroke-width: 2.5px;//
	}
}

.map-pin {
	&__outer { fill: none; stroke: none; }
	&__inner { fill: map-get($palette, off-white); stroke: none; }

	&--neutral {
		.map-pin {
			&__1-of-2, &__2-of-2, &__1-of-3, &__2-of-3, &__3-of-3 { stroke: none; fill: none; }

			&__outer { fill: map-get(map-get($palette, grey), light); stroke: none; }
			&__inner { fill: map-get($palette, off-white); }
		}
	}

	&:hover, &--highlighted { .map-pin__outer { @include overlay-highlighted--pin(); } }
	&--inactive { @include overlay-inactive(); }
}