.atl__top-bar {

	z-index: 6;

	@include animation(fadeinwithdelay 1.5s);

	position: absolute;
	top: 0;
	width: 100%;
	height: $top-bar-height;

	padding-left: 0;

	@include bp-unstack-map-settings-bar {
		padding-left: $atl-settings-bar-width;
	}

	.atl--collapsed & {
		padding-left: 0;
	}

	&__title {
		display: inline-block;
		float: left;
		@include bp-unstack-map-settings-bar {
			display: none;
			.atl--collapsed & {
				display: block;
			}
		}

		padding: 0 0 0 15px;
		margin: 0;
		height: 100%;

		div {
			height: 100%;
			display: table;
			p {
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				padding: 0;
				font-family: 'Platform Web';
				text-transform: uppercase;
				@include font-size(24px);
			}
		}

	}

	&__content {
		position: relative;
		width: 100%;
		height: 100%;
		& > * { height: 100%; }
		transition: all 0.2s;
	}

	&__icons {
		float: left;
		display: inline;
		width: auto;
		.icons {
			height: $top-bar-height;

			li {
				float: left;
				fill: map-get($palette, off-white);
			}

		}

	}

	&__timeline {
		width: 300px;
		position: absolute;
		top: 0px;
		padding-top: 37px;
		left: 400px;

		.atl__slider {

			height: 3px;
			
			.ui-slider-handle {
				cursor: pointer;
				text-align: center;
				padding-top: 2px;
				top: -12px;
				width: 45px;
				height: 25px;
			}

		}

	}

	&__summary {
		float: right;
		display: table;

		.button {
			width: 100%;
			padding: 4px 7px 0px 7px;
			background-color: map-get($palette, off-white);
			border: none;
			p { color: map-get(map-get($palette, grey), base); }
			opacity: 0.9;
		}

		&__item {
			text-align: center;
			min-width: 40px;
			max-width: 120px;
			display: table-cell;
			vertical-align: middle;
			padding-right: 20px;
			@include font-size(18px);

			& > p { 
				width: 100px; 
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}

	}

}