.atl__top-bar {

	z-index: 7;

	position: absolute;
	top: 0;
	width: 100%;
	height: $top-bar-height;

	padding-left: $atl-settings-bar-width;

	&__content {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: nth(map-get($palette, scheme), 9);
		& > * { height: 100%; }
	}

	&__icons {
		float: left;
		width: 200px;

		.icons {
			width: $top-bar-height;
			height: $top-bar-height;
			width: 4 * $top-bar-height;

			li {
				float: left;
				fill: map-get($palette, off-white);
			}

		}

	}

	&__timeline {
		width: 300px;
		position: absolute;
		top: 0px;
		padding-top: 37px;
		left: 400px;

		.atl__slider {

			height: 3px;
			
			.ui-slider-handle {
				cursor: pointer;
				text-align: center;
				padding-top: 2px;
				top: -12px;
				width: 45px;
				height: 25px;
			}

		}

	}

	&__summary {
		float: right;
		display: table;
		div {
			display: table-cell;
			vertical-align: middle;
			padding-right: 20px;
			@include font-size(18px);
		}
	}

}