@mixin attribution-box {
	width: auto;
	height: auto;
	padding: 10px 20px;
	background-color: rgba(0,0,0,0.81);
	color: palette-get(off-white);
	border-radius: $border-radius-standard;
	text-align: center;
	white-space: nowrap;
	a, p { white-space: nowrap; }
	a {
		color: palette-get(off-white);
		opacity: 0.7;
		&:hover { opacity: 1; }
	}
}