.atlas-chart { 

	position: relative;

	ul { display: none; }

	svg {
		z-index: 1;
	}

	&__tooltip { 
		background-color: #333;
		z-index: 2;
		width: 200px;
		height: 100px;
		border-radius: $border-radius-standard;
		display: table;
		& > div {
			width: 100%;
			display: table-cell;
			vertical-align: middle;
		}

		h1, p {
			width: 100%;
			text-align: center;
			margin: 0;
			color: palette-get(off-white);
			@include font-size(18px);
		}

		h1 { padding-top: 6px; }
		p { padding-top: 5px; }

	}
}

.atlas-chart .atlas-chart__tooltip {
	h1, p {
		width: 100%;
		text-align: center;
		margin: 0;
		color: map-get($palette, off-white);
	}
	h1 { @include font-size(18px); padding-top: 6px; }
	p { @include font-size(18px); padding-top: 5px; }
}