extend layout

block content

	div(id="atl__setup")

	div(class="wrapper")
		div(id="header", class="-id-header")
		div(id="atl", class="-id-atl fill-parent")
			- if (typeof reactOutput !== 'undefined') {
				!= reactOutput
			- } else {
				div(class="loading-icon")
					div Loading...
			- }
			

	script(src="/assets/scripts/#{js}")
	script(type='text/javascript').
		$(function() { 
			Atlas.start();
		});