extend layout

block content

	div(class='fill-parent', id='site')
		- if (typeof reactOutput !== 'undefined') {
			!= reactOutput
		- } else {
			div(class="loading-icon")
				div Loading...
		- }
			
	- if (process.env.NODE_ENV === 'production') {
		script(src="/assets/scripts/build/#{js}")
	- } else {
		script(src='/assets/scripts/partials/vendor.js')
		script(src='/assets/scripts/partials/source.js')
		script(src='/assets/scripts/partials/component.js')
	- }
	script(type='text/javascript').
		$(function() { 
			Atlas.start();
			Comp.start();
		});
	- if (user) {
		script(type='text/javascript').
			window.isResearcherAuthenticated = true
	- }