extend layout

block content

	- if (typeof reactOutput !== 'undefined') {
		!= reactOutput
	- } else {
		div(class="loading-icon")
			div Loading...
	- }
			

	script(src="/assets/scripts/#{js}")
	script(type='text/javascript').
		$(function() { 
			Atlas.start();
		});