extend layout

block content

	//- TODO: isomorphic rendering
	div(class='fill-parent', id='site')
		div(class="wrapper")
			div(class="loader")
				img(src="/assets/images/spinner.gif")
			
	script(src="/assets/scripts/#{js}")

	//- Set an active user if authenticated.
	- if (user || (process.env.NODE_ENV === 'development')) {
		script(type='text/javascript').
			window.isResearcherAuthenticated = true;
			window.researcher = !{JSON.stringify(user || { image: { url: '' }, name: {} })};
	- }

	//- Start client-side app.
	script(type='text/javascript').
		$(function() { 
			window.startAtlas();
		});