extend layout

block content

	div(class='fill-parent', id='site')
		- if (typeof reactOutput !== 'undefined') {
			!= reactOutput
		- } else {
			div(class="wrapper")
				div(class="loader")
					img(src="/assets/images/spinner.gif")
		- }
			
	- if (process.env.NODE_ENV === 'production') {
		script(src="/assets/scripts/build/#{js}")
	- } else {
		script(src='/assets/scripts/partials/_bundle.js')
		script(src='/assets/scripts/partials/_vendor.js')
	- }

	- if (user || (process.env.NODE_ENV === 'development')) {
		script(type='text/javascript').
			window.isResearcherAuthenticated = true;
			window.researcher = !{JSON.stringify(user || { image: { url: '' }, name: {} })};
	- }

	script(type='text/javascript').
		$(function() { 
			atlas.start();
		});