.nav-circles {
	margin: 0;
	width: 150px;
	text-align: center;
}

.nav-circle {

	display: inline-block;
	margin: auto 5px auto 5px;

	a {
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background-color: map-get($palette, off-white);
		opacity: 0.6;
	}

	&--active a, a:hover {
		opacity: 1;
	}

}