// ~~~~~~~~~~~~
//  1 geometry
// ~~~~~~~~~~~~

$top-bar-height: 75px;
$icon-size: 32px;
$top-strip-thickness: 3px;
$side-bar-width: 75px;

$atl-settings-bar-width: 340px;
$atl-settings-bar-padding: 30px;

$legend-bar-grid-size: 3;
$legend-icon-size: 32px;
$legend-icon-padding: 1px;
$legend-container-size: $legend-icon-size + 2 * $legend-icon-padding;